In [6]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
df_train = pd.read_csv('playground-series-s3e22/train.csv')
df_test = pd.read_csv('playground-series-s3e22/test.csv')

In [3]:
df_train.shape

(1235, 29)

In [4]:
df_test.shape

(824, 28)

In [5]:
df_sample_sub = pd.read_csv('playground-series-s3e22/sample_submission.csv')
df_sample_sub.shape

(824, 2)

In [7]:
df_train.head()

,id,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data,outcome
0,0,yes,adult,530001,38.1,132.0,24.0,cool,reduced,dark_cyanotic,...,57.0,8.5,serosanguious,3.4,yes,2209,0,0,no,died
1,1,yes,adult,533836,37.5,88.0,12.0,cool,normal,pale_cyanotic,...,33.0,64.0,serosanguious,2.0,yes,2208,0,0,no,euthanized
2,2,yes,adult,529812,38.3,120.0,28.0,cool,reduced,pale_pink,...,37.0,6.4,serosanguious,3.4,yes,5124,0,0,no,lived
3,3,yes,adult,5262541,37.1,72.0,30.0,cold,reduced,pale_pink,...,53.0,7.0,cloudy,3.9,yes,2208,0,0,yes,lived
4,4,no,adult,5299629,38.0,52.0,48.0,normal,normal,normal_pink,...,47.0,7.3,cloudy,2.6,no,0,0,0,yes,lived

In [9]:
df_train.isna().any()

id                       False
surgery                  False
age                      False
hospital_number          False
rectal_temp              False
pulse                    False
respiratory_rate         False
temp_of_extremities      False
peripheral_pulse         False
mucous_membrane          False
capillary_refill_time    False
pain                     False
peristalsis              False
abdominal_distention     False
nasogastric_tube         False
nasogastric_reflux       False
nasogastric_reflux_ph    False
rectal_exam_feces        False
abdomen                  False
packed_cell_volume       False
total_protein            False
abdomo_appearance        False
abdomo_protein           False
surgical_lesion          False
lesion_1                 False
lesion_2                 False
lesion_3                 False
cp_data                  False
outcome                  False
dtype: bool

__We don't have any NA__

In [11]:
np.unique(df_sample_sub.outcome)

array(['lived'], dtype=object)

In [12]:
np.unique(df_train.outcome)

array(['died', 'euthanized', 'lived'], dtype=object)

In [19]:
df_train_numeric = df_train.copy()

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_train_numeric['outcome'] = le.fit_transform(df_train.outcome)

In [22]:
df_train_numeric.outcome

0       0
1       1
2       2
3       2
4       2
       ..
1230    2
1231    0
1232    2
1233    2
1234    2
Name: outcome, Length: 1235, dtype: int64

In [24]:
df_train_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1235 non-null   int64
 1   surgery                1235 non-null   object
 2   age                    1235 non-null   object
 3   hospital_number        1235 non-null   int64
 4   rectal_temp            1235 non-null   float64
 5   pulse                  1235 non-null   float64
 6   respiratory_rate       1235 non-null   float64
 7   temp_of_extremities    1235 non-null   object
 8   peripheral_pulse       1235 non-null   object
 9   mucous_membrane        1235 non-null   object
 10  capillary_refill_time  1235 non-null   object
 11  pain                   1235 non-null   object
 12  peristalsis            1235 non-null   object
 13  abdominal_distention   1235 non-null   object
 14  nasogastric_tube       1235 non-null   object
 15  nasogastric_reflux     1235 non-null   object
 16  nasogastric_reflux_ph  1235 non-null   float64
 17  rectal_exam_feces      1235 non-null   object
 18  abdomen                1235 non-null   object
 19  packed_cell_volume     1235 non-null   float64
 20  total_protein          1235 non-null   float64
 21  abdomo_appearance      1235 non-null   object
 22  abdomo_protein         1235 non-null   float64
 23  surgical_lesion        1235 non-null   object
 24  lesion_1               1235 non-null   int64
 25  lesion_2               1235 non-null   int64
 26  lesion_3               1235 non-null   int64
 27  cp_data                1235 non-null   object
 28  outcome                1235 non-null   int64
dtypes: float64(7), int64(6), object(16)
memory usage: 279.9+ KB

In [25]:
# Turn every other string field to number